<!--Подгружаем двнные со страницы wrapper.html -->
{% extends "mainApp/wrapper.html"%}

<!--И на следующем этапе как бы создаем "портал"-->
{%block content%}



<h3> system check! </h3>

<!--Для того, что бы обернуть данную страницу кодом из другой - используется extends, однако
если нам необходимо ВСТАВИТЬ какую-либо информацию В данный код из другой страницы .html
то лучше всего воспользоваться ключевым словом include -->


{%include "mainApp/includes/some_html.html"%}


<!--И как советуют разработчики, лучше всего создавать ОТДЕЛЬНУЮ директорию includes, для таких
include и снова все это для того что бы не запутаться во всех templates-названиях-->

{% endblock %}

<!--Все, что записано в странице wrapper.html будет так же работать и в данной странице, и более
того все, что мы укажем между {block content} и { endblock } будет "инсертиться" и отображаться
только при обращении к home_page.html. То есть в браузере, если проинспектировать ВЕСЬ КОД
 то будет отображаться wrapper.html, а между блоками код только страницы home_page.html-->
